[Unit]
Description=wxpaper push service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=dmd
Environment=PATH=/home/dmd/.local/bin:/home/dmd/bin:/usr/bin:/bin
WorkingDirectory=/home/dmd/wxpaper
ExecStart=/home/dmd/.local/bin/pipenv run python3 pushmeplease.py

[Install]
WantedBy=multi-user.target
